<!-- file that defines the navbar used in all pages -->
<md-toolbar class="background-gray min-height-50-px" layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" ng-controller="navbarController">
        <img src="app/img/home/logo.png" class="margin-auto margin-left-20px" height="40" />
        <h2 class="padding-left-20px color-darkcyan font-size-larger margin-top-10-px margin-bottom-10-px text-glow">
            International Migrant Stock
        </h2>
        <md-button ng-click="loadMap()" class="margin-left-20px font-size-medium text-bold no-transform"
            ng-class="active==='home' ? 'active' : 'inactive'">Home</md-button>
        <md-button ng-click="loadStatistics()" class="font-size-medium text-bold no-transform"
            ng-class="active==='statistics' ? 'active' : 'inactive'">Statistics</md-button>
    </div>
</md-toolbar>
