.country-search-container .md-select-value span {
    font-size: small !important;
}

#country-slider .rz-tick-value {
    color: #000000;
}

#country-slider .rz-tick-legend {
    color: #0093c4;
    font-size: small;
    transform: rotate(45deg) !important;
}

.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial, helvetica, "sans-serif";
    fill: #ffffff;
}
.label-line {
    stroke-width: 1;
    stroke: #ffffff;
}
.label-circle {
}

.country-image-thumbnail {
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin: auto;
}
