.country-search-container .md-select-value span {
    font-size: small !important;
}

#country-slider .rz-tick-value {
    color: #000000;
}

#country-slider .rz-tick-legend {
    color: #0093c4;
    font-size: small;
    transform: rotate(45deg) !important;
}

.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial, helvetica, "sans-serif";
    fill: #FFFFFF;
}
.label-line {
    stroke-width: 1;
    stroke: #FFFFFF;
}
.label-circle {
}

/* Age stacked barchart */
.axis path,
.axis line,
.axis text {
    fill: none;
    stroke: #63b3d4;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}
 
.bar {
    fill: steelblue;
}
 
.x.axis path {
    display: none;
}

.y.axis path {
}