.country-search-container .md-select-value span {
    font-size: small !important;
}

#country-slider .rz-tick-value {
    color: #000000;
}

#country-slider .rz-tick-legend {
    color: #0093c4;
    font-size: small;
    transform: rotate(45deg) !important;
}

.label-text {
    alignment-baseline: middle;
    font-size: 12px;
    font-family: arial, helvetica, "sans-serif";
    fill: #ffffff;
}
.label-line {
    stroke-width: 1;
    stroke: #ffffff;
}

.label-circle {
}

.country-linechart {
    fill:white !important;
    width:100% !important;
    height:100% !important;
}

.country-linechart-path {
    stroke: rgb(31, 120, 180);
    fill: None;
    stroke-width: 3px;
    stroke-linejoin: round;
    /*stroke-miterlimit: 2;*/
    stroke-linecap: round;
}

.legend {
    font-size: 16px;
    text-anchor: middle;
    color: white;
    fill:  white;
}

.font-size-12px {
    font-size: 12px !important;
    font-weight: bold;
}

.country-image-thumbnail {
    width: 45px;
    height: 25px;
    object-fit: contain;
    margin: auto;
}

/* Immigration by age stacked barchart */
.axis path,
.axis line,
.axis text {
    fill: none;
    stroke: #63b3d4;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.y.axis path {
}
