/******************************************************************
DISPLAY
*******************************************************************/

.hide {
    display: none !important;
}

.display-none {
    display: none !important;
    -webkit-animation: slide-down 0.5s ease-out;
    -moz-animation: slide-down 0.5s ease-out;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.parent-size {
    width: 100%;
    height: 100%;
}

.min-width-350-px {
    min-width: 350px !important;
}

.min-width-250-px {
    min-width: 250px !important;
}

.min-width-200-px {
    min-width: 200px !important;
}

.max-width-1920-px {
    max-width: 1920px;
}

.min-width-1520-px {
    min-width: 1520px;
}

.max-width-500-px {
    max-width: 500px;
}

.max-width-700-px {
    max-width: 700px;
}

.min-height-400-px {
    min-height: 400px;
}

.min-height-55-px {
    min-height: 55px !important;
}

.min-height-50-px {
    min-height: 50px !important;
}

.max-height-150-px {
    max-height: 150px;
}

.max-height-700-px {
    max-height: 700px;
}

.width-0 {
    width: 0;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90% !important;
}

.width-95 {
    width: 95% !important;
}

.width-80 {
    width: 80% !important;
}

.width-75 {
    width: 75% !important;
}

.width-60 {
    width: 60%;
}

.width-65 {
    width: 65%;
}

.width-50 {
    width: 50% !important;
}

.width-15 {
    width: 15%;
}

.width-33 {
    width: 33%;
}

.width-20 {
    width: 20%;
}

.width-70 {
    width: 70%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-25 {
    width: 25% !important;
}

.width-1920-px {
    width: 1920px;
}

.width-300-px {
    width: 300px;
}

.width-340-px {
    width: 340px !important;
}

.width-250-px {
    width: 250px;
}

.width-220-px {
    width: 220px;
}

.width-210-px {
    width: 210px;
}
.width-200-px {
    width: 200px;
}

.width-100-px {
    width: 100px !important;
}

.width-150-px {
    width: 150px !important;
}

.width-80-px {
    width: 80px !important;
}

.width-45-px {
    width: 45px !important;
}

.width-35-px {
    width: 35px !important;
}

.width-55-px {
    width: 55px !important;
}

.width-60-px {
    width: 60px !important;
}

.width-30-px {
    width: 30px !important;
}

.height-300-px {
    height: 300px;
}

.height-250-px {
    height: 250px;
}

.height-200-px {
    height: 200px;
}

.height-450-px {
    height: 450px;
}

.height-400-px {
    height: 400px;
}

.height-350-px {
    height: 350px;
}

.height-100 {
    height: 100%;
}

.height-95 {
    height: 95% !important;
}

.height-80 {
    height: 80% !important;
}

.height-50 {
    height: 50%;
}

.height-20 {
    height: 20%;
}

.height-5 {
    height: 5%;
}

/******************************************************************
FONTS
*******************************************************************/
.no-transform {
    text-transform: none !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-bold {
    font-weight: bold;
}

.font-size-medium {
    font-size: medium !important;
}

.font-size-large {
    font-size: large !important;
}

.font-size-larger {
    font-size: larger !important;
}

.font-size-xx-large {
    font-size: xx-large;
}

.font-size-xxx-large {
    font-size: xxx-large;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-small {
    font-size: small !important;
}

.font-size-10px {
    font-size: 10px !important;
}

.font-size-x-small {
    font-size: x-small !important;
}

/******************************************************************
MARGINS
*******************************************************************/

.margin-auto {
    margin: auto !important;
}

.margin-none {
    margin: 0 !important;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-5-px {
    margin-top: 5px !important;
}

.margin-top-3-px {
    margin-top: 3px !important;
}

.margin-top-10-px {
    margin-top: 10px !important;
}

.margin-top-15-px {
    margin-top: 15px;
}

.margin-top-20-px {
    margin-top: 20px !important;
}

.margin-top-40-px {
    margin-top: 40px !important;
}

.margin-top-50-px {
    margin-top: 50px !important;
}

.margin-top-60-px {
    margin-top: 60px !important;
}

.margin-top-100-px {
    margin-top: 100px !important;
}

.margin-top-200-px {
    margin-top: 200px !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-50-px {
    margin-bottom: 50px !important;
}

.margin-bottom-10-px {
    margin-bottom: 10px !important;
}

.margin-bottom-5px {
    margin-bottom: 5px !important;
}

.margin-bottom-20-px {
    margin-bottom: 20px !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.margin-top-bottom-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.margin-top-bottom-5-px {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

.margin-right-10-px {
    margin-right: 10px;
}

.margin-right-20-px {
    margin-right: 20px !important;
}

.margin-right-40-px {
    margin-right: 40px;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-left-20px {
    margin-left: 20px !important;
}

.margin-left-25-px {
    margin-left: 25px !important;
}

.margin-left-40-px {
    margin-left: 40px !important;
}

.margin-left-50-px {
    margin-left: 50px !important;
}

.margin-right-50-px {
    margin-right: 50px !important;
}

.margin-right-5-px {
    margin-right: 5px !important;
}

.margin-right-25-px {
    margin-right: 25px !important;
}

.margin-lr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-lr-40-px {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-lr-20-px {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/******************************************************************
MARGINS
*******************************************************************/

.padding-10-px {
    padding: 10px;
}

.padding-5-px {
    padding: 5px;
}

.padding-3-px {
    padding: 3px;
}

.padding-left-30px {
    padding-left: 30px;
}

.padding-left-20px {
    padding-left: 20px;
}

.padding-left-10px {
    padding-left: 10px !important;
}

.padding-right-30px {
    padding-right: 30px;
}

.padding-right-5px {
    padding-right: 5px !important;
}

.padding-right-10px {
    padding-right: 10px !important;
}

.padding-lr-20-px {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-lr-5-px {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-lr-10-px {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-40-px {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-bottom-5px {
    padding-bottom: 5px !important;
}

.padding-top-bottom-5px {
    padding: 5px 0 5px 0 !important;
}

.padding-top-bottom-3-px {
    padding-top: 3px;
    padding-bottom: 3px;
}

.padding-top-bottom-10px {
    padding: 10px 0 10px 0 !important;
}
/******************************************************************
COLOR
*******************************************************************/

.color-white {
    color: #ffffff !important;
}

.color-orange {
    color: #ff9316 !important;
}

.color-orange-small {
    color: #ff9316 !important;
    font-size: 10px;
}

.color-violet {
    color: #8338ec;
}

.color-green {
    color: #7dcf5a;
}

.color-red {
    color: #fa606b;
}

.color-lightgray {
    color: #b0b0b0 !important;
}

.color-gray {
    color: gray !important;
}

.color-black {
    color: #000000;
}

.color-darkcyan {
    color: #63b3d4 !important;
}

.color-darkgray {
    color: #1d1f1f;
}
/******************************************************************
OTHER
*******************************************************************/

.text-justify {
    text-align: justify;
}

.overflow-x-none {
    overflow-x: unset !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}

.zindex-0 {
    z-index: 0 !important;
}

.zindex-100 {
    z-index: 100 !important;
}

.zindex-1000 {
    z-index: 1000 !important;
}

.position-fixed {
    position: fixed !important;
}

.border-left-radius-5-px {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.border-right-radius-5-px {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border-radius-10px {
    border-radius: 10px !important;
}

.border-radius-5-px {
    border-radius: 5px !important;
}

.border-1 {
    border: 1px solid black !important;
}

.border-1-gray {
    border: 1px solid #2d2e2e !important;
}

.border-right-1-gray {
    border-right: 1px solid #2d2e2e;
}

.vertical-align-middle {
    vertical-align: middle;
}

.top-5-px {
    top: 5px;
}

.bottom-0 {
    bottom: 0 !important;
}

.right-0 {
    right: 0;
}

md-optgroup label {
    text-transform: none !important;
}

/******************************************************************
BACKGROUND
*******************************************************************/

.background-gray {
    background-color: #2d2e2e !important;
}

.background-gray-transparent {
    background-color: #2d2e2e1c !important;
}

.background-darkgray {
    background-color: #0a0a0a !important;
}

.background-darkteal {
    background-color: #191f24 !important;
}

.background-darkcyan {
    background-color: #0093c4 !important;
}

.background-dark {
    background-color: #000000;
}

.background-white {
    background-color: #ffffff !important;
}

/******************************************************************
POSITION
*******************************************************************/

.clear-float {
    float: none !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

#top-flags-tooltip {
    position: fixed;
    pointer-events: none;
    padding: 10px;
    background-color: #2d2e2e;
    color: #ffffff;
}

/******************************************************************
Navbar
*******************************************************************/

.active {
    color: #0093c4 !important;
}

.inactive {
    color: #d3d3d3 !important;
}

.rzslider .rz-pointer {
    top: -10px !important;
    width: 20px !important;
    height: 20px !important;
}

.rzslider .rz-pointer:after {
    top: 6px !important;
    left: 6px !important;
}

.rzslider .rz-tick-legend {
    left: -5px !important;
}

.axis-dark-cyan line {
    stroke: #0093c4;
}

.axis-dark-cyan path {
    stroke: #0093c4;
}

.axis-dark-cyan text {
    stroke: #0093c4;
}

.box-shadow-dark-gray {
    box-shadow: 0px 0px 13px #1d1f1f;
}

.grid-lines path {
    stroke: #0093c4;
}

.grid-lines text {
    stroke: #0093c4;
}

.grid-lines line {
    stroke: white;
    opacity: 0.1 !important;
}

.left-line-chart-class {
    stroke: #1f78b4;
    stroke-width: 2.5;
}

.right-line-chart-class {
    stroke: #a6cee3;
    stroke-width: 2.5;
}

.pointer {
    cursor: pointer;
}

md-chip {
    color: gray !important;
    width: 100%;
}

.md-chip-content {
    width: 100%;
}

md-chip:hover {
    background-color: #fa606b;
    color: white !important;
}

md-chip.md-focused {
    background: #e0e0e0 !important;
    color: grey !important;
}

.text-glow {
    text-shadow: 0 0 10px #0093c4;
}

.text-glow-white {
    text-shadow: 0 0 10px #ffffff;
}
