/******************************************************************
DISPLAY
*******************************************************************/

.hide {
    display: none !important;
}

.display-none {
    display: none;
    -webkit-animation: slide-down 0.5s ease-out;
    -moz-animation: slide-down 0.5s ease-out;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block !important;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.parent-size {
    width: 100%;
    height: 100%;
}

.min-width-350-px {
    min-width: 350px !important;
}

.max-width-500-px {
    max-width: 500px;
}

.width-0 {
    width: 0;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-70 {
    width: 70%;
}

.width-30 {
    width: 30%;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-30 {
    width: 30%;
}

.height-100 {
    height: 100%;
}

.height-95 {
    height: 95%;
}

.height-80 {
    height: 80%;
}

.height-20 {
    height: 20%;
}

.height-5 {
    height: 5%;
}

/******************************************************************
FONTS
*******************************************************************/

.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold;
}

.font-size-medium {
    font-size: medium !important;
}

.font-size-xxx-large {
    font-size: xxx-large;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-small {
    font-size: small !important;
}

/******************************************************************
MARGINS
*******************************************************************/

.margin-auto {
    margin: auto !important;
}

.margin-none {
    margin: 0 !important;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-15-px {
    margin-top: 15px;
}

.margin-top-20-px {
    margin-top: 20px !important;
}

.margin-top-40-px {
    margin-top: 40px !important;
}

.margin-top-60-px {
    margin-top: 60px !important;
}

.margin-top-10-px {
    margin-top: 10px !important;
}

.margin-right-10-px {
    margin-right: 10px;
}

.margin-right-20-px {
    margin-right: 20px;
}

.margin-right-40-px {
    margin-right: 40px;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-left-20px {
    margin-left: 20px !important;
}

.margin-left-50-px {
    margin-left: 50px !important;
}

.margin-right-50-px {
    margin-right: 50px !important;
}

.margin-lr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-lr-40-px {
    margin-left: 40px;
    margin-right: 40px;
}

/******************************************************************
MARGINS
*******************************************************************/

.padding-10-px {
    padding: 10px;
}

.padding-left-20px {
    padding-left: 20px;
}

.padding-lr-20-px {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-top-bottom-5px {
    padding: 0 5px 0 5px !important;
}

/******************************************************************
COLOR
*******************************************************************/

.color-white {
    color: #ffffff !important;
}

.color-lightgray {
    color: #b0b0b0 !important;
}

.color-black {
    color: #000000;
}

.color-darkcyan {
    color: #63b3d4 !important;
}

.color-darkgray {
    color: #1d1f1f;
}
/******************************************************************
OTHER
*******************************************************************/

.text-justify {
    text-align: justify;
}

.overflow-x-none {
    overflow-x: unset !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}

.zindex-0 {
    z-index: 0 !important;
}

.zindex-100 {
    z-index: 100 !important;
}

.position-fixed {
    position: fixed !important;
}

.border-radius-10px {
    border-radius: 10px !important;
}

.border-1 {
    border: 1px solid black !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.bottom-0 {
    bottom: 0 !important;
}
/******************************************************************
BACKGROUND
*******************************************************************/

.background-gray {
    background-color: #2d2e2e !important;
}

.background-darkteal {
    background-color: #191f24 !important;
}

.background-darkcyan {
    background-color: #0093c4 !important;
}

.background-dark {
    background-color: #000000;
}

.background-white {
    background-color: #ffffff !important;
}

/******************************************************************
POSITION
*******************************************************************/

.clear-float {
    float: none !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
