#home-button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#open-menu-button {
    background-color: #2d2e2e;
    position: absolute;
    left: 0;
    top: 8%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

#open-menu-button:hover {
    padding-left: 10px;
    padding-right: 10px;
}

#open-menu-icon {
    width: 20px;
    padding: 15px 1px 12px 3px;
}

#home-button-icon {
    width: 20px;
    padding: 15px 1px 12px 3px;
}

.full-height {
    height: 100vh;
}

.feed-container {
    background-color: #707070;
    padding: 10px 20px;
    border-radius: 16px;
    color: white;
    margin-left: 10px;
    font-size: x-large;
    margin-right: 10px;
}

md-sidenav {
    max-width: 2000px !important;
    width: 100% !important;
}
