.md-track-ticks {
    background-color: #0093c4 !important;
}

.md-sign {
    background-color: #0093c4 !important;
}

.md-sign:after {
    border-top-color: #0093c4 !important;
}

.md-thumb:after {
    background-color: #0093c4 !important;
    border: 1px solid #0093c4;
}

.menu-list-icon {
    width: 15px;
    height: 15px;
}

.search-input {
    width: 100%;
    font-size: x-small;
    border: none;
    outline: none;
}

.filters-container {
    border: 4px solid #0093c4 !important;
    padding: 10px !important;
    width: 80% !important;
    min-height: 5em;
    margin-bottom: 30px;
}

.menu-divider {
    width: 97% !important;
    height: 2px;
    margin: 20px 0 20px 0;
    background-color: #2d2e2e;
    border: 0;
}

.radio-button-class {
    margin: auto !important;
    width: 33% !important;
    min-height: 10px !important;
    min-width: 40px !important;
    height: 25px;
    line-height: 25px !important;
    padding: 0 !important;
    font-size: x-small !important;
    border-right: 1px solid black !important;
    color: #000000 !important;
    background-color: #ffffff !important;
    border-radius: 0 !important;
}

.radio-button-group.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.ng-not-empty.button-clicked {
    height: 10px;
}

.button-clicked {
    color: #ffffff !important;
    background-color: #0093c4 !important;
}

.first-radius {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.last-radius {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

md-select-value {
    color: #0093c4 !important;
    border-bottom: 1px solid #0093c4;
}

#source-selector .md-select-icon {
    background: #191f24 url("../img/search.png") no-repeat 90% 50%;
    color: #191f24;
    text-align: left;
    margin: 0 0 0 0;
}

md-select-value {
    color: #0093c4 !important;
    font-size: small;
    border-bottom: 1px solid #0093c4 !important;
}

md-chips input {
    display: none !important;
}

md-select ._md-select-placeholder {
    color: red !important;
}

md-input-container label {
    color: #0093c4 !important;
}

md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #000;
}

#destination-selector .md-select-icon {
    background: #191f24 url("../img/search.png") no-repeat 90% 50%;
    color: #191f24;
    text-align: left;
    margin: 0 0 0 0;
}

.header-search-box {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.select-header-search-box {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    height: 48px;
    width: 100% !important;
    cursor: pointer;
    position: fixed;
    display: flex;
    width: auto;
}

.svg-magnitude {
    width: 20%;
    height: 50px;
}

#home-slider .rz-tick-value {
    color: #191f24;
}

#home-slider .rz-tick-legend {
    color: #0093c4;
    font-size: small;
    transform: rotate(45deg) !important;
}

.color-legend {
    color: #0093c4;
}
