#visualization-type-container .md-select-icon {
    color: #0093c4 !important;
}

#visualization-type-container .md-select-value span {
    font-size: medium !important;
}

.countries-home {
    stroke: #000000 !important;
    fill: #b0b0b0 !important;
}

.graticule {
    stroke: #b0b0b0;
    stroke-width: 0.33px;
    fill: none;
}
