#visualization-type-container .md-select-icon {
    color: #0093c4 !important;
}

#visualization-type-container .md-select-value span {
    font-size: medium !important;
}

.countries {
    stroke: #000000;
    fill: #b0b0b0;
}
