<div layout="column" class="parent-size">
    <div ng-include="'app/commons/navbar.html'" onload="active='statistics'"></div>

    <div layout="column" class="parent-size background-dark">
        <div class="width-30 margin-auto margin-top-20-px height-5">
            <radio-button-group selected-button="secondaryMenuSelectedValue"
                handle-button="handleSecondaryMenuClick(buttonValue) " ng-model="secondaryMenuSelectedValue"
                buttons="secondaryMenuButtons" radio-buttons-class="'md-button border-1'">
        </div>
        <div layout="row" class="height-95">
            <div layout="column" class="margin-left-20px width-15 min-width-200-px max-width-500-px">
                <div class="country-search-container width-100 margin-top-40-px">
                    <md-input-container id="compare-selector-right" class="width-100 display-block margin-none">
                        <label>Select country...</label>
                        <md-select ng-model="selectedCountryController" md-on-close="clearSearch()"
                            ng-change="updateStatistics()">
                            <md-select-header class="select-header-search-box background-white zindex-100">
                                <input ng-model="searchSource" aria-label="Source filter" type="search"
                                    placeholder="Search a country..."
                                    class="header-search-box md-text padding-left-10px"
                                    ng-keydown="updateSearch($event)" />
                            </md-select-header>
                            <md-option ng-value="country" ng-repeat="country in countries | filter: searchSource"
                                ng-class="{'margin-top-50-px' : $first}">
                                {{country.visName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="margin-top-60-px">
                    <radio-button-group selected-button="genreFilterValue" handle-button="handleGenreClick(buttonValue)"
                        ng-model="genreFilterValue" buttons="genreButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                </div>

                <div class="width-100 margin-top-40-px color-white"><label class="font-size-medium">Restrict time
                        span</label></div>
                <div id="country-slider" class="width-100">
                    <rzslider rz-slider-model="sliderCountry.minValue" rz-slider-high="sliderCountry.maxValue"
                        rz-slider-options="sliderCountry.options"></rzslider>
                </div>
            </div>
            <div layout="column" class="width-60">
                <div layout="row" class="parent-size">
                    <div id="development-piechart" class="width-50 height-50">
                    </div>
                    <div id="income-piechart" class="width-50 height-50">
                    </div>
                </div>
                <div layout="row"></div>
            </div>
            <div layout="column" class="width-25">
                <div class="margin-top-60-px width-100">
                    <img class="display-block height-200-px width-200-px margin-lr-auto"
                        src="../../app/img/countries/outlines/{{selectedCountryController.visName}}.svg" />
                </div>
                <div layout="row">
                    <img class="country-image-thumbnail" src="{{selectedCountryController.flagPath}}">
                    <h1 class="color-white font-size-large margin-right-auto">{{selectedCountryController.visName}}</h1>
                </div>
                <div class="width-100 color-white" layout="row">
                    <div class="width-50" layout="column">
                        <div
                            class="text-center font-size-x-small border-left-radius-5-px b padding-5-px background-darkgray border-right-1-gray">
                            Continent</div>
                        <div class="text-center margin-top-10-px color-darkcyan">
                            {{selectedCountryController.continent}}</div>
                    </div>
                    <div class="width-50">
                        <div
                            class="text-center font-size-x-small border-right-radius-5-px padding-5-px background-darkgray">
                            Region</div>
                        <div class="text-center margin-top-10-px color-darkcyan">{{selectedCountryController.region}}
                        </div>
                    </div>
                </div>
                <div class="margin-lr-20-px margin-top-100-px min-width-200-px max-width-700-px">
                    <radio-button-group selected-button="countryInfoValue"
                        handle-button="handleCountryInfoClick(buttonValue)" ng-model="countryInfoValue"
                        buttons="countryInfoTypeButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                    <div layout="column" class="color-white margin-top-40-px width-100">
                        <div class="width-100 padding-top-bottom-10px"><span class="float-left font-size-small">Total
                                immigration</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.totalImmigrationsGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.totalImmigrations}}
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span class="float-left font-size-small">Total
                                population</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.totalPopulationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.totalPopulation}}
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span
                                class="float-left font-size-small">Immigration vs.
                                Population</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.immigrationVsPopulationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.immigrationVsPopulation}} %
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span
                                class="float-left font-size-small">Immigrants average
                                age</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.immigrationAverageAgeGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.immigrationAverageAge}} age
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span class="float-left font-size-small">Refugees
                                vs.
                                Immigrants</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.refugeeVsImmigrationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.refugeeVsImmigration}} %
                            </span>
                        </div>
                    </div>
                </div>
                <div layout="column"
                    class="margin-auto margin-top-60-px margin-bottom-50-px min-width-200-px max-width-700-px">
                    <top-countries handle-button="handleTopCountryClick(flagValue, 'in')"
                        ng-model="selectedTopCountryValue" countries="top5InwardCountries"
                        show-hint="showTopCountryHint(flagValue, event, 'in')" hide-hint="hideTopCountryHint('in')"
                        top-countries-icon-path="'app/img/home/inward.png'"></top-countries>
                    <hr class="menu-divider" />
                    <top-countries handle-button="handleTopCountryClick(flagValue, 'out')"
                        ng-model="selectedTopCountryValue" countries="top5OutwardCountries"
                        show-hint="showTopCountryHint(flagValue, event, 'in')" hide-hint="hideTopCountryHint('in')"
                        top-countries-icon-path="'app/img/home/outward.png'"></top-countries>
                </div>
                <div layout="column" id="top-flags-tooltip">
                    <div>{{selectedTopFlag[0].visName}}</div>
                </div>
            </div>
        </div>
    </div>
