<!-- File that defines the country page html -->
<div layout="column" class="parent-size max-width-1920-px margin-auto min-width-1520-px">
    <div ng-include="'app/commons/navbar.html'" onload="active='statistics'"></div>

    <div layout="column" class="parent-size background-dark">
        <!-- World, Country, Compare menu container -->
        <div class="width-30 margin-lr-auto margin-top-20-px height-5">
            <radio-button-group selected-button="secondaryMenuSelectedValue"
                handle-button="handleSecondaryMenuClick(buttonValue) " ng-model="secondaryMenuSelectedValue"
                buttons="secondaryMenuButtons" radio-buttons-class="'md-button border-1'">
        </div>

        <div layout="row" class="height-95">
            <!-- Left column container -->
            <div layout="column" class="margin-left-20px width-15 min-width-200-px max-width-500-px">
                <div layout="row">
                    <div class="color-white">
                        <div id="title-year" class="font-size-xx-large text-bold text-glow-white">1990 - 2019</div>
                    </div>
                </div>
                <hr class="menu-divider">
                <!-- Select country container -->
                <div class="country-search-container width-100 margin-top-60-px">
                    <md-input-container id="compare-selector-right" class="width-100 display-block margin-none">
                        <label>Select country...</label>
                        <md-select ng-model="selectedCountryController" md-on-close="clearSearch()"
                            ng-change="updateView()">
                            <md-select-header class="select-header-search-box background-white zindex-100">
                                <input ng-model="searchSource" aria-label="Source filter" type="search"
                                    placeholder="Search a country..."
                                    class="header-search-box md-text padding-left-10px"
                                    ng-keydown="updateSearch($event)" />
                            </md-select-header>
                            <md-option ng-value="country" ng-repeat="country in countries | filter: searchSource"
                                ng-class="{'margin-top-50-px' : $first}">
                                {{country.visName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <!-- Gender menu container -->
                <div class="margin-top-60-px">
                    <radio-button-group selected-button="genderFilterValue"
                        handle-button="handleGenderClick(buttonValue)" ng-model="genderFilterValue"
                        buttons="genderButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                </div>

                <div class="width-100 margin-top-40-px color-white"><label class="font-size-medium">Restrict time
                        span</label></div>
                <div id="country-slider" class="width-100">
                    <rzslider rz-slider-model="sliderCountry.minValue" rz-slider-high="sliderCountry.maxValue"
                        rz-slider-options="sliderCountry.options"></rzslider>
                </div>
                <div
                class="margin-top-100-px font-size-small color-white text-justify">
                    When not selecting a specific year, the selected metric is calculated as an average across all the year timespans in [1990-2019].
                </div>
                <div class="margin-top-100-px font-size-small color-white text-justify">
                    With <span class="color-darkcyan">Migratory pattern by development</span> we intend the
                    distribution of migrants across less developed and more developed destinations
                </div>
                <hr class="menu-divider width-100" />
                <div class="font-size-small color-white text-justify">
                    With <span class="color-darkcyan">Migratory pattern by income</span> we intend the distribution of
                    migrants according to the destination countries GDP
                </div>
            </div>

            <!--  Plots container -->
            <div layout="column" class="width-65 padding-lr-40-px">
                <!-- Top plots container -->
                <div layout="row" class="width-100 color-white margin-top-40-px margin-bottom-20-px">
                    <div id="development-piechart" class="width-50 height-300-px">
                        <div class="display-block text-center margin-bottom-10-px text-bold">Migratory pattern by
                            development - <span
                                class="color-white background-gray padding-5-px border-radius-5-px">Outward</span></div>
                    </div>
                    <div id="income-piechart" class="width-50 height-300-px">
                        <div class="display-block text-center text-bold">Migratory pattern by income - <span
                                class="color-white background-gray padding-5-px border-radius-5-px">Outward</span></div>
                    </div>
                </div>
                <!-- Bottom plots container -->
                <div layout="row" class="width-100 height-50 margin-top-40-px">
                    <div layout="column" class="width-50 padding-right-30px">
                        <div id="roc-linechart-label" class="width-100 height-5 color-white text-center text-bold">
                            Immigration
                            Rate of Change - <span
                                class="color-white background-gray padding-5-px border-radius-5-px">Inward</span></div>
                        <div id="roc-linechart-container" class="width-100 height-300-px margin-top-20-px"></div>
                    </div>
                    <div layout="column" class="width-50 padding-left-30px">
                        <div id="age-stacked-barchart-label"
                            class="width-100 height-5 color-white text-center text-bold">Immigration by
                            Age groups - <span
                                class="color-white background-gray padding-5-px border-radius-5-px">Inward</span></div>
                        <div id="age-stacked-barchart" class="width-100 height-300-px margin-top-20-px"></div>
                    </div>
                </div>
            </div>
            <!--  Right column container -->
            <div layout="column" class="width-20">
                <div class="width-100">
                    <img class="display-block height-200-px width-200-px margin-lr-auto"
                        src="{{selectedCountryController.outlinePath}}" />
                </div>
                <div layout="row">
                    <div class="box-shadow-dark-gray country-image-thumbnail"><img class="country-image-thumbnail"
                            src="{{selectedCountryController.flagPath}}">
                    </div>
                    <h1 class="color-white font-size-large margin-right-auto">{{selectedCountryController.visName}}</h1>
                </div>
                <div class="width-90 margin-lr-auto color-white" layout="row">
                    <div class="width-50" layout="column">
                        <div
                            class="text-center font-size-small border-left-radius-5-px b padding-5-px background-darkgray border-right-1-gray">
                            Continent</div>
                        <div class="text-center font-size-medium margin-top-10-px color-darkcyan">
                            {{selectedCountryController.continent}}</div>
                    </div>
                    <div class="width-50">
                        <div
                            class="text-center font-size-small border-right-radius-5-px padding-5-px background-darkgray">
                            Region</div>
                        <div class="text-center font-size-medium margin-top-10-px color-darkcyan">
                            {{selectedCountryController.region}}
                        </div>
                    </div>
                </div>
                <!-- Statistics container -->
                <div class="margin-left-20px margin-right-40-px margin-top-40-px min-width-200-px max-width-700-px">
                    <radio-button-group selected-button="countryInfoValue"
                        handle-button="handleCountryInfoClick(buttonValue)" ng-model="countryInfoValue"
                        buttons="countryInfoTypeButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                    <div layout="column" class="color-white margin-top-40-px width-100">
                        <div class="width-100 padding-top-bottom-5px"><span class="float-left font-size-small">Total
                                immigration</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.totalImmigrationsGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.totalImmigrations}}
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-5px"><span class="float-left font-size-small">Total
                                population</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.totalPopulationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.totalPopulation}}
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-5px"><span
                                class="float-left font-size-small">Immigration vs.
                                Population</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.immigrationVsPopulationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.immigrationVsPopulation}} %
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-5px"><span
                                class="float-left font-size-small">Immigrants average
                                age</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.immigrationAverageAgeGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.immigrationAverageAge}} years
                            </span>
                        </div>
                        <div class="width-100 padding-top-bottom-5px"><span class="float-left font-size-small">Refugees
                                vs.
                                Immigrants</span>
                            <span ng-if="countryInfoValue === 'global_rank'" class="float-right font-size-small">
                                {{globalRankCountryStatisticsValues.refugeeVsImmigrationGlobalRank}}
                            </span>
                            <span ng-if="countryInfoValue === 'value'" class="float-right font-size-small">
                                {{countryStatisticsValues.refugeeVsImmigration}} %
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Top countries container -->
                <div layout="column"
                    class="margin-lr-auto margin-top-40-px margin-bottom-40-px min-width-200-px max-width-700-px">
                    <div
                        class="color-white margin-bottom-10-px font-size-small background-darkgray padding-10-px width-90 text-justify">
                        Ranking of the Top 5 countries from
                        which migrants <span class="color-green">arrive</span> into the selected country, and to which
                        the selected country <span class="color-red">sends</span> migrants </div>
                    <div class="width-90">
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'in')"
                            countries="top5InwardCountries" show-hint="showTopCountryHint(flagValue, event, 'Sent')"
                            hide-hint="hideTopCountryHint(event, 'in')"
                            top-countries-icon-path="'app/img/home/inward.png'">
                        </top-countries>
                        <hr class="menu-divider margin-top-bottom-5-px" />
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'out')"
                            countries="top5OutwardCountries"
                            show-hint="showTopCountryHint(flagValue, event, 'Received')"
                            hide-hint="hideTopCountryHint('in')" top-countries-icon-path="'app/img/home/outward.png'">
                        </top-countries>
                    </div>
                </div>
                <!-- Top countries tooltip -->
                <div id="top-flags-tooltip" class="display-none">
                    <div class="width-150-px">
                        <div class="color-darkcyan">{{selectedTopFlag[0].visName}}</div>
                        <hr class="menu-divider background-darkcyan margin-top-10-px width-100" />
                        <div class="font-size-small">{{sendReceiveTopCountries}} <span id="tooltip-text"
                                class="margin-top-10-px">{{selectedTopFlag[1]}}</span>
                            people {{sendReceiveTopCountries == "Sent" ? 'to' : 'from'}}
                            {{selectedCountryController.visName}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
