<div layout="column" class="parent-size">
    <md-toolbar class="background-gray padding-top-bottom-5px" layout="row" layout-align="start center">
        <div layout="row" layout-align="start center" ng-controller="navbarController">
            <img src="app/img/home/logo.png" class="margin-auto" widht="79" height="56" />
            <h2 class="padding-left-20px color-darkcyan">
                International Migrant Stock
            </h2>
            <md-button ng-click="loadMap()" class="margin-left-20px font-size-medium text-bold">Home</md-button>
            <md-button ng-click="loadStatistics()" class="font-size-medium text-bold">Statistics</md-button>
        </div>
    </md-toolbar>

    <div layout="column" class="parent-size background-dark">
        <div class="width-30 margin-auto margin-top-20-px height-5">
            <radio-button-group selected-button="secondaryMenuSelectedValue"
                handle-button="handleSecondaryMenuClick(buttonValue) " ng-model="secondaryMenuSelectedValue"
                buttons="secondaryMenuButtons" radio-buttons-class="'md-button border-1'">
        </div>
        <div layout="row" class="height-95">
            <div layout="column" class="margin-left-50-px width-15 min-width-350-px max-width-500-px">
                <div class="country-search-container width-100 margin-top-40-px">
                    <md-input-container id="compare-selector-right" class="width-100 display-block margin-none">
                        <label>Select country...</label>
                        <md-select ng-model="selectedCountryController" md-on-close="clearSearch()">
                            <md-optgroup label="country.continent">
                                <md-option ng-value="country.visName"
                                    ng-repeat="country in countries | filter: {continent: country.continent}">
                                    {{country.visName}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="margin-top-60-px">
                    <radio-button-group selected-button="genreFilterValue" handle-button="handleGenreClick(buttonValue)"
                        ng-model="genreFilterValue" buttons="genreButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                </div>

                <div class="width-100 margin-top-40-px color-white"><label class="font-size-x-large">Restrict time
                        span</label></div>
                <div id="country-slider" class="width-100">
                    <rzslider rz-slider-model="sliderCountry.minValue" rz-slider-high="sliderCountry.maxValue"
                        rz-slider-options="sliderCountry.options"></rzslider>
                </div>
            </div>
            <div class="width-60">

            </div>
            <div layout="column" class="width-25 padding-right-30px">
                <div class="margin-top-60-px width-100">
                    <img class="display-block height-300-px margin-lr-auto"
                        src="../../app/img/countries/outlines/{{selectedCountryController}}.svg" />
                </div>
                <h1 class="color-white margin-lr-auto">{{selectedCountryController}}</h1>
                <div class="margin-auto margin-top-200-px min-width-350-px max-width-500-px">
                    <radio-button-group selected-button="countryInfoValue"
                        handle-button="handleCountryInfoClick(buttonValue)" ng-model="countryInfoValue"
                        buttons="countryInfoTypeButtons" radio-buttons-class="'md-button border-1'">
                    </radio-button-group>
                    <div layout="column" class="color-white margin-top-40-px width-100">
                        <div class="width-100 padding-top-bottom-10px"><span class="float-left font-size-x-large">Total
                                immigrations</span><span
                                class="float-right font-size-x-large">{{countryStatisticsValues.totalImmigrations}}</span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span class="float-left font-size-x-large">Total
                                population</span><span
                                class="float-right font-size-x-large">{{countryStatisticsValues.totalPopulation}}</span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span
                                class="float-left font-size-x-large">Immigration vs
                                Population</span><span
                                class="float-right font-size-x-large">{{countryStatisticsValues.immigrationVsPopulation}}</span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span
                                class="float-left font-size-x-large">Immigration average
                                age</span><span
                                class="float-right font-size-x-large">{{countryStatisticsValues.immigrationAverageAge}}</span>
                        </div>
                        <div class="width-100 padding-top-bottom-10px"><span
                                class="float-left font-size-x-large">Refugee vs.
                                Immigration</span><span
                                class="float-right font-size-x-large">{{countryStatisticsValues.refugeeVsImmigration}}</span>
                        </div>
                    </div>
                </div>
                <div layout="column" class="margin-auto margin-top-100-px min-width-350-px max-width-500-px">
                    <top-countries handle-button="handleTopCountryClick(flagValue, 'in')"
                        ng-model="selectedTopCountryValue" countries="topFlags"
                        top-countries-icon-path="'app/img/home/up.png'"></top-countries>
                    <hr class="menu-divider" />
                    <top-countries handle-button="handleTopCountryClick(flagValue, 'out')"
                        ng-model="selectedTopCountryValue" countries="topFlags"
                        top-countries-icon-path="'app/img/home/down.png'"></top-countries>
                </div>
            </div>
        </div>
    </div>
