<!-- File that defines the home page html -->
<div layout="column" class="parent-size">
    <div ng-include="'app/commons/navbar.html'" onload="active='home'"></div>
    <div layout="row" class="parent-size">
        <!--menu container-->
        <div id="menu-container"
            class="width-20 max-width-500-px background-dark">
            <div id="open-menu-button" ng-click="toggleMenu()" class="margin-left-8-px cursor-pointer outline-none">
                <img id="open-menu-icon" src="app/img/menu-arrow.png" alt="Open Menu" title="Open Menu" />
            </div>
            <section id="menu-section" layout="row" class="parent-size min-width-250-px max-width-500-px">
                <md-sidenav id="menu-panel" class="md-sidenav-left background-darkteal" ng-if="isSideMenuOpened"
                    md-is-locked-open="isSideMenuOpened" md-component-id="left" md-whiteframe="10">
                    <md-toolbar class="background-darkteal" layout="row" layout-align="center center">
                        <h1 class="md-toolbar-tools color-white font-size-medium text-bold">
                            Visualization settings
                        </h1>
                    </md-toolbar>
                    <div layout="column">
                        <civ class="width-100">
                            <md-button id="clear-all" class="color-white font-size-10px float-right">Clear all
                            </md-button>
                        </civ>
                        <div
                            class="filters-container margin-lr-auto font-size-small color-lightgray clear-float border-radius-10px overflow-auto max-height-150-px">
                            <div id="sources-tooltip" class="hide width-100">
                                Sources
                                <md-chips ng-model="selectedCountries.source" readonly="false" md-removable="false"
                                    md-on-select="removeChips($chip, true)">
                                    <md-chip-template>
                                        <span>
                                          <strong>{{$chip.visName}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                            <div id="destinations-tooltip" class="hide margin-top-5-px">
                                Destinations
                                <md-chips ng-model="selectedCountries.destination" md-removable="false"
                                    md-on-select="removeChips($chip, false)">
                                    <md-chip-template>
                                        <span>
                                            <strong>{{$chip.visName}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>

                            <div id="text-no-filters">No active filters.<br>Please select a filter from the
                                list below.</div>
                        </div>
                    </div>
                    <hr class="menu-divider" />
                    <md-content layout-margin class="background-darkteal width-100 height-100 margin-none">
                        <div class="width-90 margin-auto">
                            <radio-button-group selected-button="genderFilterValue"
                                handle-button="handleGenderClick(buttonValue)" ng-model="genderFilterValue"
                                buttons="genderButtons" radio-buttons-class="'md-button'" class="background-darkteal">
                            </radio-button-group>
                        </div>

                        <!-- Future work - Insert filter by region -->
                        <!-- <hr class="menu-divider width-100" />
                        <div class="width-90 margin-auto">
                            <radio-button-group selected-button="regionFilterValue"
                                handle-button="handleRegionClick(buttonValue)" ng-model="regionFilterValue"
                                buttons="regionButtons" radio-buttons-class="'md-button'">
                            </radio-button-group>
                        </div> -->

                        <hr class="menu-divider margin-bottom-20-px" />
                        <md-input-container id="source-selector" class="width-90 display-block margin-auto">
                            <label>Select sources...</label>
                            <md-select ng-model="selectedCountries.source" md-on-close="selectionClosed()" multiple>
                                <md-select-header class="select-header-search-box background-white zindex-100">
                                    <input ng-model="searchSource" aria-label="Source filter" type="search"
                                        placeholder="Search a country..."
                                        class="header-search-box md-text padding-left-10px"
                                        ng-keydown="updateSearch($event)" />
                                </md-select-header>
                                <md-option ng-value="country" ng-repeat="country in countries | filter: searchSource"
                                    ng-class="{'margin-top-50-px' : $first,'margin-bottom-50-px': $last}">
                                    {{country.visName}}</md-option>

                                <div class="position-fixed padding-10-px bottom-0 background-white color-gray">
                                    Close this panel
                                    to view UI changes</div>
                            </md-select>
                        </md-input-container>
                        <hr class="menu-divider" />
                        <md-input-container id="destination-selector" class="width-90 display-block margin-auto">
                            <label>Select destinations...</label>
                            <md-select ng-model="selectedCountries.destination" md-on-close="selectionClosed()"
                                multiple>
                                <md-select-header class="select-header-search-box background-white zindex-100">
                                    <input ng-model="searchDestination" aria-label="Destination filter" type="search"
                                        placeholder="Search a country..."
                                        class="header-search-box md-text padding-left-10px"
                                        ng-keydown="updateSearch($event)" />
                                </md-select-header>
                                <md-option ng-value="country"
                                    ng-repeat="country in countries | filter: searchDestination"
                                    ng-class="{'margin-top-50-px' : $first,'margin-bottom-50-px': $last}">
                                    {{country.visName}}</md-option>
                                <div class="position-fixed padding-10-px bottom-0 background-white color-gray">
                                    Close this panel
                                    to view UI changes</div>
                            </md-select>
                        </md-input-container>
                        <hr class="menu-divider" />
                        <div layout="column">
                            <div class="color-legend font-size-small margin-left-0px padding-10-px">Migration flow
                                lower bound:</div>
                            <svg width="100%" height="50px">
                                <g width="100%" id="container-weights">
                                </g>
                            </svg>
                        </div>
                        <hr class="menu-divider width-100" />
                        <!-- Future work - Insert filter by year range -->
                        <!-- <div class="width-80 margin-auto color-white"><label>Restrict time span</label></div>
                        <div id="home-slider" class="width-80 margin-auto">
                            <rzslider rz-slider-model="sliderYears.minValue" rz-slider-high="sliderYears.maxValue"
                                rz-slider-options="sliderYears.options"></rzslider>
                        </div> -->
                        <!-- <hr class="menu-divider width-100 margin-top-40-px" /> -->
                        <div id="home-info-div" class="font-size-small margin-top-5-px color-lightgray">
                            Information on hover will be shown here
                        </div>
                    </md-content>
                </md-sidenav>
            </section>
        </div>
        <!--end menu container-->
        <!-- map container-->
        <div layout="column" class="width-80 height-100">
            <div class="color-white position-absolute">
                <div id="year-title"
                    class="text-glow-white text-bold font-size-xx-large margin-top-10-px margin-left-20px">
                </div>
                <div id="arcs-amount" class="margin-left-20px margin-top-10-px"></div>
            </div>
            <div id="map" class="height-80 width-100 min-height-400-px background-dark">
            </div>
            <div layout="column" id="footer" class="height-20 width-100 background-gray">
                <div id="feeds" layout="row" class="margin-top-10-px height-20 position-relative">
                    <div label="row">
                        <div class="migration-flow-label background-gray">Migrant Stock Rank in 2019 </div>
                        <div id="triangle-right" class="hide">
                        </div>
                    </div>
                    <feed-chip ng-repeat="feedObject in yearFeeds" ng-model="feedModel" feed="feedObject"
                        index="$index">
                    </feed-chip>
                </div>
                <div id="playpause-btn-container"
                    class="background-gray hide width-35-px position-absolute right-0 margin-top-10-px padding-lr-10-px">
                    <img id="playpause-btn" ng-src="{{playPauseBtn}}"
                        class="float-right pointer zindex-100 parent-size">
                </div>
                <div id="home-area-chart" class="height-80 display-block"></div>
            </div>

        </div>
    </div>
    <!-- end map container-->
</div>
