<div layout="column" class="parent-size">
    <div ng-include="'app/commons/navbar.html'" onload="active='home'"></div>

    <div layout="row" class="parent-size">
        <!--menu container-->
        <div id="menu-container" ng-controller="menuController as menuCtrl"
            class="width-20 max-width-500-px background-dark">
            <div id="open-menu-button" ng-click="toggleMenu()" class="margin-left--8-px cursor-pointer outline-none">
                <img id="open-menu-icon" src="app/img/menu-arrow.png" alt="Open Menu" title="Open Menu" />
            </div>
            <section id="menu-section" layout="row" class="parent-size min-width-250-px max-width-500-px">
                <md-sidenav id="menu-panel" class="md-sidenav-left background-darkteal" ng-if="isSideMenuOpened"
                    md-is-locked-open="isSideMenuOpened" md-component-id="left" md-whiteframe="10">
                    <md-toolbar class="background-darkteal" layout="row" layout-align="center center">
                        <h1 class="md-toolbar-tools color-white font-size-medium text-bold">
                            Visualization settings
                        </h1>
                        <div ng-click="toggleMenu()" class="margin-right-10-px cursor-pointer outline-none">
                            <img src="app/img/close-menu.png" alt="Close Menu" title="Close Menu" />
                        </div>
                    </md-toolbar>
                    <div layout="column">
                        <civ class="width-100">
                            <md-button class="color-white font-size-small float-right">Clear all</md-button>
                        </civ>
                        <div
                            class="filters-container margin-lr-auto font-size-small color-lightgray clear-float border-radius-10px">
                            No active filters. Please select a filter from the
                            list below.
                        </div>
                    </div>
                    <hr class="menu-divider width-100" />
                    <md-content layout-margin class="background-darkteal width-100 height-100 margin-none">
                        <div class="width-90 margin-auto">
                            <radio-button-group selected-button="genderFilterValue"
                                handle-button="handleGenderClick(buttonValue)" ng-model="genderFilterValue"
                                buttons="genderButtons" radio-buttons-class="'md-button'" class="background-darkteal">
                            </radio-button-group>
                        </div>
                        <hr class="menu-divider width-100" />
                        <div class="width-90 margin-auto">
                            <radio-button-group selected-button="regionFilterValue"
                                handle-button="handleRegionClick(buttonValue)" ng-model="regionFilterValue"
                                buttons="regionButtons" radio-buttons-class="'md-button'">
                            </radio-button-group>
                        </div>

                        <hr class="menu-divider width-100" />

                        <md-input-container id="source-selector" class="width-90 display-block margin-auto">
                            <label>Select sources...</label>
                            <md-select ng-model="selectedCountries.source" md-on-close="clearSearch()" multiple>
                                <md-select-header class="select-header-search-box background-white zindex-100">
                                    <input ng-model="searchSource" aria-label="Source filter" type="search"
                                        placeholder="Search a country..."
                                        class="header-search-box md-text padding-left-10px"
                                        ng-keydown="updateSearch($event)" />
                                </md-select-header>
                                <md-option ng-value="country.name"
                                    ng-repeat="country in countries | filter: searchSource"
                                    ng-class="{'margin-top-50-px' : $first}">
                                    {{country.visName}}</md-option>
                            </md-select>
                        </md-input-container>
                        <hr class="menu-divider width-100" />
                        <md-input-container id="destination-selector" class="width-90 display-block margin-auto">
                            <label>Select destinations...</label>
                            <md-select ng-model="selectedCountries.destination" md-on-close="clearSearch()" multiple>
                                <md-select-header class="select-header-search-box background-white zindex-100">
                                    <input ng-model="searchDestination" aria-label="Destination filter" type="search"
                                        placeholder="Search a country..."
                                        class="header-search-box md-text padding-left-10px"
                                        ng-keydown="updateSearch($event)" />
                                </md-select-header>
                                <md-option ng-value="country.name"
                                    ng-repeat="country in countries | filter: searchSource"
                                    ng-class="{'margin-top-50-px' : $first}">
                                    {{country.visName}}</md-option>
                            </md-select>
                        </md-input-container>
                        <hr class="menu-divider width-100" />
                        <div layout="row">
                            <svg width="100%" height="50px">
                                <g width="100%">
                                    <ellipse id="5m_label" fill="#FF3333" rx="12" ry="12" cx="10%" cy="15" />
                                    <text x="6%" y="50" stroke="#ffffff" font-size="14">
                                        5M
                                    </text>
                                    <ellipse id="1m_label" fill="#F1860C" rx="9" ry="9" cx="30%" cy="15" />
                                    <text x="26%" y="50" stroke="#ffffff" font-size="14">
                                        1M
                                    </text>
                                    <ellipse id="100k_label" fill="#C5B409" rx="6" ry="6" cx="50%" cy="15" />
                                    <text x="45%" y="50" stroke="#ffffff" font-size="14">
                                        100k
                                    </text>
                                    <ellipse id="1k_label" fill="#F8FF42" rx="4" ry="4" cx="70%" cy="15" />
                                    <text x="67%" y="50" stroke="#ffffff" font-size="14">
                                        1k
                                    </text>
                                    <ellipse id="all_label" fill="#F6F990" rx="2" ry="2" cx="90%" cy="15" />
                                    <text x="88%" y="50" stroke="#ffffff" font-size="14">
                                        All
                                    </text>
                                </g>
                            </svg>
                        </div>
                        <hr class="menu-divider width-100" />
                        <div class="width-80 margin-auto color-white"><label>Restrict time span</label></div>
                        <div id="home-slider" class="width-80 margin-auto">
                            <rzslider rz-slider-model="sliderYears.minValue" rz-slider-high="sliderYears.maxValue"
                                rz-slider-options="sliderYears.options"></rzslider>
                        </div>
                    </md-content>
                </md-sidenav>
            </section>
        </div>
        <!--end menu container-->
        <!-- map container-->
        <div layout="column" class="width-80 height-100">
            <div id="map" class="height-80 width-100 min-height-400-px background-dark">
            </div>
            <div layout="column" id="footer" class="height-20 width-100 background-gray">
                <!-- <div id="feeds" layout="row" class="margin-top-10-px height-20 position-relative">
                    <div label="row">
                        <div class="migration-flow-label background-gray">Large-Flow Migration</div>
                        <div id="triangle-right">
                        </div>
                    </div>
                    <feed-chip ng-repeat="feedObject in feeds" ng-model="feedModel" feed="feedObject" index="$index">
                    </feed-chip>
                </div> -->
                <div>
                    <img src="app/img/home/play.png" ng-click="pauseArcs()"
                        class="float-right margin-top-10-px margin-right-20-px">
                </div>

                <div id="home-line-chart" class="height-80 display-block"></div>
            </div>

        </div>
    </div>
    <!-- end map container-->
</div>
