<div layout="column" class="parent-size">
    <div ng-include="'app/commons/navbar.html'" onload="active='statistics'"></div>

    <div layout="row" class="background-dark height-5">
        <div class="width-30 margin-auto margin-top-20-px">
            <radio-button-group selected-button="secondaryMenuSelectedValue"
                handle-button="handleSecondaryMenuClick(buttonValue) " ng-model="secondaryMenuSelectedValue"
                buttons="statisticsButtons" radio-buttons-class="'md-button border-1'">
        </div>
    </div>
    <div layout="row" class="background-dark height-95">
        <div class="width-20">
            <div layout="column">
                <div class="color-white margin-top-15-px margin-left-20px">
                    <div class="font-size-xx-large text-bold">2001 - 2010</div>
                    <div class="font-large margin-top-10-px color-darkcyan">Total Immigration
                    </div>
                </div>
                <hr class="menu-divider margin-left-20px">
            </div>
            <div layout="column" class="color-white margin-top-20">
                <div class="font-size-small text-bold padding-left-20px">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto aliquid excepturi unde veritatis
                    nulla, dolore voluptate minus, libero natus architecto illo enim aliquam. Accusamus odit
                    voluptatibus velit modi at neque placeat similique recusandae voluptate ut.
                </div>
                <div id="global-statistics" class="margin-top-20">
                    <div class="color-orange padding-10-px">World Estimates</div>
                    <!-- <img src="../../sketch/Mask_Group_2.png"> -->
                </div>
            </div>
        </div>
        <div layout="column" class="width-80">
            <div class="height-80 position-relative">
                <div id="map" class="height-100 min-height-400-px max-height-700-px margin-top-10-px overflow-hidden">
                </div>
                <div class="position-absolute bottom-0 margin-left-20px">
                    <md-input-container id="visualization-type-container">
                        <label>Visualization type</label>
                        <md-select ng-model="selectedMetric" ng-change="handleBarChartMetricChange()">
                            <md-option ng-repeat="type in visualizationTypes" ng-value="type.value">
                                {{type.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <hr class="menu-divider">
            <div layout="row" class="height-20">
                <div class="width-70 height-100">
                    <div layout="row" class="color-white font-size-small">
                        <div class="padding-lr-20-px width-40">
                            <div class="font-size-x-large color-darkcyan margin-bottom-20-px">
                                <!-- change with the controller variable -->
                                Italy
                            </div>
                            <div>
                                <!-- change with the controller variable -->
                                Description: 12000
                            </div>
                        </div>
                        <div class="padding-lr-20-px margin-right-20-px width-60 text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis repudiandae quidem esse
                            ea illo labore assumenda laborum iste temporibus quasi, quos amet tempora veritatis ex culpa
                            cum voluptatibus accusamus, commodi quaerat? Voluptatibus quibusdam nihil nulla, consequatur
                            quod velit quia reiciendis?
                        </div>
                    </div>
                </div>
                <div class="width-30 height-100">
                    <div layout="column">
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'in')"
                            ng-model="selectedTopCountryValue" countries="topFlags"
                            show-hint="showTopCountryHint(flagValue, event, 'in')" hide-hint="hideTopCountryHint('in')"
                            top-countries-icon-path="'app/img/home/up.png'">
                        </top-countries>
                        <hr class="menu-divider width-90" />
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'out')"
                            ng-model="selectedTopCountryValue" countries="topFlags"
                            show-hint="showTopCountryHint(flagValue, event, 'in')" hide-hint="hideTopCountryHint('in')"
                            top-countries-icon-path="'app/img/home/down.png'"></top-countries>
                    </div>
                </div>
                <div layout="column" id="top-flags-tooltip" class="display-none">
                    <div>{{selectedTopFlag}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end map container-->
</div>
