<!-- File that defines the country page html -->
<div layout="column" class="parent-size max-width-1920-px margin-auto min-width-1520-px">
    <div ng-include="'app/commons/navbar.html'" onload="active='statistics'"></div>

    <!-- World, Country, Compare menu container -->
    <div layout="row" class="background-dark height-5">
        <div class="width-30 margin-auto margin-top-20-px">
            <radio-button-group selected-button="secondaryMenuSelectedValue"
                handle-button="handleSecondaryMenuClick(buttonValue) " ng-model="secondaryMenuSelectedValue"
                buttons="statisticsButtons" radio-buttons-class="'md-button border-1'">
        </div>
    </div>

    <div layout="row" class="background-dark height-95">
        <!-- Left column container -->
        <div class="width-20">
            <div layout="column">
                <div class="color-white margin-top-15-px margin-left-20px">
                    <div id="title-year" class="font-size-xx-large text-bold text-glow-white"></div>
                    <div id="title-label" class="font-large margin-top-10-px color-darkcyan"></div>
                </div>
            </div>
            <hr class="menu-divider">
            <!-- metric explanation container -->
            <div layout="column" class="color-white margin-top-none">
                <div ng-if="selectedMetric === 'total_immigration'"
                    class="font-size-small color-white padding-10-px text-justify">
                    <span class="color-darkcyan">Total immigration</span> represents the total number of foreign people that
                    have globally migrated to a given country.
                </div>
                <div ng-if="selectedMetric === 'total_population'"
                    class="font-size-small padding-10-px color-white text-justify">
                    <span class="color-darkcyan">Total population</span> represents the total population of a given country.
                </div>
                <div ng-if="selectedMetric === 'immigration_vs_population'"
                    class="font-size-small padding-10-px color-white text-justify">
                    <span class="color-darkcyan">Immigration vs. Population</span> represents the percentage of foreign people with respect
                     to the total population of a given country.
                </div>
                <div ng-if="selectedMetric === 'immigrants_avg_age'"
                    class="font-size-small padding-10-px color-white text-justify">
                    <span class="color-darkcyan">Immigrants average age</span> represents the migrants average
                    age calculated from 5-year apart year ranges between 0 and 75.
                </div>
                <div ng-if="selectedMetric === 'refugees_vs_immigrants'"
                    class="font-size-small padding-10-px color-white text-justify">
                    <span class="color-darkcyan">Refugees vs. Immigrants</span> represents the percentage of immigrants in a given country
                     that are refugees at the same time.
                </div>
                <div
                    class="font-size-small padding-10-px color-white text-justify">
                    When not selecting a specific year, the selected metric is calculated as an average across all the year timespans in [1990-2019] which are represented in the bar chart.
                </div>
                <div class="margin-top-20">
                    <div class="color-orange font-size-large padding-10-px">World Estimates - <span
                            class="color-white font-size-medium background-gray padding-5-px border-radius-5-px">Inward</span>
                    </div>
                </div>
                <div id="global-statistics"></div>
                <div class="color-lightgray font-size-small padding-10-px">Click on a bar in the above plot to filter
                    the visualized statistics.</div>
            </div>
        </div>
        <!-- Map visualization container -->
        <div layout="column" class="width-80">
            <div class="height-80 position-relative">
                <div id="map-container"
                    class="height-100 min-height-400-px max-height-700-px margin-top-10-px overflow-hidden">
                </div>
                <!-- Metric selection container -->
                <div class="position-absolute bottom-0 margin-left-20px">
                    <md-input-container id="visualization-type-container">
                        <label>Visualization type</label>
                        <md-select ng-model="selectedMetric" ng-change="handleBarChartMetricChange()">
                            <md-option ng-repeat="type in visualizationTypes" ng-value="type.value">
                                {{type.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <hr class="menu-divider">
            <!-- Bottom row container -->
            <div layout="row" class="height-20">
                <div class="width-90 height-100">
                    <div layout="row" class="color-white font-size-small">
                        <div class="padding-lr-20-px width-40">
                            <div class="color-lightgray" ng-if="!hoveredCountry.visName">Hover over a country and you
                                will see here the related information</div>
                            <div layout="row" class="margin-bottom-10-px">
                                <img src="{{hoveredCountry.flagPath}}" width="30" height="20"
                                    class="margin-top-bottom-auto margin-right-20-px" ng-if="hoveredCountry.flagPath">
                                <div class="font-size-medium color-darkcyan margin-top-bottom-auto"
                                    ng-if="hoveredCountry.visName">
                                    {{hoveredCountry.visName}} <span ng-if="hoveredCountry.continent"> - </span><span
                                        class="color-orange"> {{hoveredCountry.continent}}</span>
                                </div>
                            </div>
                            <hr ng-if="hoveredCountry.visName" class="menu-divider margin-top-none margin-bottom-20-px">
                            <div ng-if="hoveredCountry.value" class="font-size-medium">
                                <span
                                    class="color-darkcyan font-size-small background-gray padding-lr-5-px padding-top-bottom-3-px border-radius-5-px">Value</span>
                                &ensp; - &ensp; &ensp; {{hoveredCountry.value}}
                            </div>
                        </div>
                        <div class="padding-lr-20-px margin-right-20-px width-60 text-justify">

                            According to the Migration and Remittances Factbook 2011, 3% of the world population (more
                            than 215 million people) live in a country other than the one they were born in.
                            <hr class="menu-divider margin-top-bottom-5-px">
                            In 2010, refugees and asylum-seekers made up 8% (16.3 million) of international migrants.
                            <hr class="menu-divider margin-top-bottom-5-px">
                            Relative to world population size, more people were migrating around the end of the 19th
                            Century than they are now.
                        </div>
                        <div
                            class="color-white margin-top-5-px margin-right-10-px font-size-small background-darkgray padding-10-px width-30 height-100 text-justify">
                            Ranking of the <span class="color-green">Top 5</span> and <span class="color-red">Flop
                                5</span> countries in the world listed according to the selected metric.</div>
                    </div>
                </div>
                <!-- Top countries container -->
                <div class="width-300-px height-100">
                    <div layout="column" class="margin-right-10-px">
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'in')" countries="top5Countries"
                            show-hint="showTopCountryHint(flagValue, event, 'in')"
                            hide-hint="hideTopCountryHint('in', flagValue)"
                            top-countries-icon-path="'app/img/home/up.png'">
                        </top-countries>
                        <hr class="menu-divider width-100 margin-top-bottom-5-px" />
                        <top-countries handle-button="handleTopCountryClick(flagValue, 'out')"
                            countries="flop5Countries" show-hint="showTopCountryHint(flagValue, event, 'in')"
                            hide-hint="hideTopCountryHint('in', flagValue)"
                            top-countries-icon-path="'app/img/home/down.png'"></top-countries>
                    </div>
                </div>
                <!-- Top countries tooltip container -->
                <div layout="column" id="top-flags-tooltip" class="display-none">
                    <div>{{selectedTopFlag}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
